@use '../helpers' as *;

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-main);
  background-color: var(--blue);
  background: url('@/assets/background_desk.avif') center/cover no-repeat;
}
