@use "@/styles/helpers" as *;

.fieldContainer {
  display: flex;
  align-items: center;
  padding-top: fluid(100, 20);

  &>button:hover {
    transform: translateY(rem(-60)) scale(1.3);
    transition-duration: var(--transition-duration);
  }
}
