@use "@/styles/helpers" as *;

.button {
  background-color: var(--dark-red);
  padding: rem(10) rem(26);
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  letter-spacing: 1.1px;
  font-size: rem(32);

  &:hover {
    scale: 1.05;
  }
}
