@use "@/styles/helpers" as *;

.playerRus {
  position: absolute;
  left: 1%;
  bottom: -1%;
  width: fluid(280, 120);
  aspect-ratio: 1;
  background: url("@assets/frame-rusy.avif") center/contain no-repeat;
}

.playerLizard {
  position: absolute;
  left: 1%;
  top: -2%;
  width: fluid(280, 100);
  aspect-ratio: 1;
  z-index: 2;
  background: url("@assets/frame-lizard.avif") center/contain no-repeat;
}

.nameRus {
  position: absolute;
  color: var(--dark-red-accent);
  text-shadow: var(--text-shadow);
  font-size: fluid(26, 12);
  bottom: 12%;
  left: 28%;
}

.nameLizard {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: fluid(26, 12);
  bottom: 12%;
  left: 24%;
  padding-inline: rem(8);
  background-color: #9a7d5da2;
  border-radius: var(--border-radius);
}

.health {
  position: absolute;
  border-radius: 50%;
  font-size: fluid(46, 14);
  font-weight: 700;
}

.healthLizard {
  color: var(--dark-red);
  bottom: 16%;
  right: 12%;
  text-shadow: var(--text-shadow);
}

.healthRus {
  color: var(--dark-red-accent);
  right: 12%;
  bottom: 16%;
  text-shadow: var(--text-shadow);
}

.mana {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--dark-red-accent);
  text-shadow: var(--text-shadow);
  position: absolute;
  font-weight: bold;
  font-size: fluid(46, 14);
  width: fluid(94, 18);
  height: fluid(94, 18);
  border-radius: 50%;
  background: url("@assets/mana-bottle.avif") center/cover no-repeat;
}

.manaRus {
  top: -4%;
  left: -8%;
}

.manaLizard {
  top: 1%;
  left: -4%;
}
